diff a/drivers/misc/Kconfig b/drivers/misc/Kconfig	(rejected hunks)
@@ -736,4 +736,9 @@ source "drivers/misc/lis3lv02d/Kconfig"
 source "drivers/misc/carma/Kconfig"
 source "drivers/misc/altera-stapl/Kconfig"
 source "drivers/misc/mpu3050/Kconfig"
+
+config CPU_UNDERVOLTING
+	tristate "Several undervolting interfaces"
+	default y
+
 endmenu
